@model RoomModel

<div class="row">
    <div class="col-6">
       <h2>Create Room</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-warning" asp-action="Index">
            <i class="bi bi-skip-backward-btn-fill"></i> Go Back
        </a>
    </div>
</div>
<form method="post">
    <div class="mb-3 row p-1">
        <label class="control-label p-0" asp-for="RoomID"></label>
        <input class="form-control border" asp-for="RoomID" />
        <span asp-validation-for="RoomID" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="RoomCategory" class="control-label p-0"></label>
        <input asp-for="RoomCategory" class="form-control" />
        <span asp-validation-for="RoomCategory" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="RoomCapacity" class="control-label p-0"></label>
        <input asp-for="RoomCapacity" class="form-control"  />
        <span asp-validation-for="RoomCapacity" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="RoomPrice" class="control-label p-0"></label>
        <input asp-for="RoomPrice" class="form-control" />
        <span asp-validation-for="RoomPrice" class="text-danger"></span>
    </div>

    <div class="btn-group">

        <button type="submit" class="btn btn-success m-1"> <i class="bi bi-plus-lg"></i> Create</button>

            <a class="btn btn-danger m-1" asp-action="Index"><i class="bi bi-x-circle-fill"></i> Cancel</a>

           
    </div>
</form>
